.signup-container {
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 50%;
}