.signup-container {
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh
}

.signup-container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .signup-container-box {
        width: 100%;
    }
}