* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Elements */
a {
  color: black;
}

/* Classes */
.df {
  display: flex;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

/* .primaryBtn {
  background: black !important;
  color: white !important;
}

.primaryBtn:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.secondaryBtn {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black !important;
}

.secondaryBtn:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
} */