.messages-container-box {
    min-height: 80vh;
}

.messages-container {
    display: flex;
    min-height: 80vh;
}

@media screen and (max-width: 768px) {
    .messages-container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1.5em;
    }

    .messages-container-box {
        width: 100%;
    }
}