.view-startup-modal-titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-startup-modal-content {
    display: flex;
    flex-direction: column;
}

.view-startup-modal-content-chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5em;
}